*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}

/* container */
.conatiner{
    width: 80%;
    max-width: 1350px;
    margin: 0 auto ;
    padding-top: 12px;
    padding-bottom: 5px;
/* header   */
}
nav{
    display: flex;
    justify-content: space-between;
}
.header img{
    width: 139px;
    height: 60px;
}

nav .link-parant{
   display: flex;
   gap: 32px;
   list-style: none;
   padding: 24px;
}
.link-parant a {
    text-decoration: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
    line-height: 152%;
    font-style: medium;
}
.btn{
   background-color: rgba(70, 145, 101, 1);
   color: white;
   border-radius: 4px;
   padding: 12px 16px;
   font-size: 16px;
   font-weight: 600;
   line-height: 19px;
   border: none;
   margin: 15px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}
.btn:hover{
    background-color: rgb(93, 189, 134);

}
/* main */

#hero{
   text-align: center;
   background-image: url(../images/assets/hero-bg.png);
   padding: 120px 180px;
   background-repeat: no-repeat;
   background-size: cover ;
  

}
.text .onebtn {
    color: rgba(70, 145, 101, 1);
    font-size: 16px;
    font-weight:500 ;
    line-height:19px ;
    padding: 8px 12px;
    border-radius: 1000px;
    border: none;
    font-style: medium;
}
.text h1 {
    font-size: 72px;
    padding: 16px 295px 0px;
    color: rgba(255, 255, 255, 1) ;
}
.colo-green {
    color: rgba(48, 184, 104, 1);
}
.text p{
    color:  rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 16px;
    padding-bottom: 20px;

}
.text .twobtn{
    margin-bottom:150px;
}


.text .twobtn .btn2 {
    background-color: rgba(70, 145, 101, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    padding: 12px 16px ;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.twobtn .btn2:hover{
     background-color: rgb(93, 189, 134);}
.text .twobtn .btn3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding: 10px 16px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 1);
    background: transparent;
    color: rgba(255, 255, 255, 1) ;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.twobtn .btn3:hover{
     background-color: rgb(93, 189, 134);}
/* card */
#card{
    text-align: center;
    padding-top: 50px;
    background-color:  #fefeff
}

#card .card-head h1 {
    font-size: 48px;
    font-style: bold;
    font-weight: 700;
    line-height: 58px;
    padding-bottom: 16px;

}

#card .card-head p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(98, 115, 130, 1);
    letter-spacing: 0%;
    padding-bottom: 40px;

}

#card .card-contain{
    max-width: 1350px;
    margin: 0 auto ;
    width: 80%;
}
#card .card-contain .card-box{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.card-box .card-img{
    padding: 40px 34px;
    width: 320px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
     
}
.card-img img{
    padding: 12px;
    border-radius: 50%;
    margin-bottom:16px ;
    background: rgba(249, 85, 85, 1);
    max-width: 50px;
    margin-bottom:30px ;
}
.card-img h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: rgba(0, 25, 49, 1);
    padding-bottom: 6px;
    margin-bottom: 16px;
}
.card-img p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(98, 115, 130, 1);

}

/* info */

.info .info-img{
    display: flex;
    margin: 0px auto;
    max-width: 1350px;
    padding: 120px 0;
    gap: 60px;

}
.info-img .info-text{
    padding: 102px 0px;
}
.info-img .info-text .TheSolution{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(70, 145, 101, 1); 
    text-transform: uppercase;
    padding-bottom: 16px;
}
.info-img .info-text h1{
    font-style: bold;
    font-weight: 700;
    line-height: 58px;
    font-size: 48px;
    font-style: bold;
    color: rgba(0, 25, 49, 1); 
    padding-bottom: 16px;
}

.info-text .per{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(98, 115, 130, 1);
   margin-right: 100px;
   padding-bottom: 40px;
}
.info-text .color-green i{ 
    color: rgba(48, 184, 104, 1);
    gap: 6px;  
}
.info-text .color-green p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 16px;

}
/* about */

#about .about-container{
    margin: 0 auto;
    align-items: center;
    max-width: 1140px;
    text-align: center;
    background-color: rgba(247, 246, 242, 1);
    padding: 80px 120px;
    border-radius: 12px;
}
.about-container .heading h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    font-style: bold;
    color: rgba(0, 25, 49, 1);
    padding-bottom: 16px;
}
.about-container .heading p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 16px;
    color: rgba(98, 115, 130, 1);
    padding: 0 40px;
}
.about-container .heading button{
   background-color: rgba(70, 145, 101, 1);
   color: white;
   border-radius: 4px;
   padding: 12px 16px;
   font-size: 16px;
   font-weight: 600;
   line-height: 19px;
   border: none;
   margin: 15px;
   box-shadow: 0 6px 15px rgba(0,0,0,0.35);
   cursor: pointer;
   padding-bottom: 16px;
   transition: background-color 0.3s ease;
}
.heading button:hover{
     background-color: rgb(93, 189, 134);
}
/* footer */

footer{
    margin-top: 130px;
    background-color: rgba(0, 25, 49, 1);;
    padding: 130px 0  30px 0;
   
    

}
.logo .ft-logo{
    display: flex ;
    justify-content: space-between;
    padding: 0px 340px;
    padding-bottom: 80px;
}
.ft-logo .SocialLinks h5{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 16px;

}
.SocialLinks a{
    margin-right: 16px;
}

hr{
    width: 65%;
    align-items: center;
    margin: auto;
    color:rgba(229, 231, 235, 1) ;
    opacity: 0.2;
}
.logo .copyright p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:rgba(250, 250, 250, 1) ;
    text-align: center;
    padding-top: 30px;

}